APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
# 必要ならホストを書き換える
APP_URL=http://localhost:8080

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=webmarket
DB_USERNAME=webmarket
DB_PASSWORD=

# ここはAPIキーを入れる
JMS_CLIENT_ID=1111222233334444
JMS_CLIENT_SECRET=aaabbbccccddddd
JMS_CALLBACK=${APP_URL}/login/minecraft.jp/callback
